@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "black";
  default: true;
  prefersdark: true;
  colorscheme: "light";
  --radius-selector: 0rem;
  --radius-field: 0rem;
  --radius-box: 0rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 0px;
  --depth: 0;
  --noise: 0;
}

@theme inline {
  --font-heading: var(--font-heading);
  --font-body: var(--font-body);
}

@layer base {
  body {
    @apply font-body select-none;
  }
}

@layer components {
  .intro-title {
    font-size: clamp(6.25rem, 20.357vw + 2.179rem, 20.5rem);
    line-height: clamp(6.25rem, 20.357vw + 2.179rem, 20.5rem);
    @apply font-heading invisible tracking-tighter;
  }

  .intro-subtitle {
    font-size: clamp(1.875rem, 1.786vw + 1.518rem, 3.125rem);
    line-height: clamp(1.875rem, 1.786vw + 1.518rem, 3.125rem);
    @apply font-heading invisible;
  }

  .copy {
    font-size: clamp(2.188rem, 3.571vw + 1.473rem, 4.688rem);
    line-height: 1.2;
    @apply text-base-content/20 max-w-7xl tracking-tighter;
  }
}
